<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Authentication</title>
    <style>
body {
    margin-top: 275px;
}
    </style>

    </head>
    <body bgcolor="lavender">
    <center>
      <h1> STRING COMPARISION </h1>
       <form action="ctof">

<input  name="string1" placeholder="enter string1" style="height:20px">
<input  name="string2" placeholder="enter string2" style="height:20px"><br><br>

<input type="submit">
</form>
    </center>
    </body>
</html>
